<h1>Home View</h1>
<div ng-controller="MainController">
  <div class="feature">
    <div class="container">
      <div class="feature-text">
        <h1>
          Learn To Play Guitar Today.
        </h1>
      </div>
      <div class="feature-button">
        <a href="/#register">
          <button>Sign Up Now!</button>
        </a>
      </div>
    </div>
  </div>
  <div class="course-list">
    <div class="container">
      <h2>Choose From These Courses</h2>

      <div class="course-item">
        <a href="courses.html">
          <img src="assets/img/acoustic.jpg" alt="Beginner Course">
          <h3>{{courses[0]}}</h3>
          <p>Learn the basics of the guitar. Learn chords, scales, and basic maintenance. Get on your way to playing guitar today.</p>
        </a>
      </div>
      <div class="course-item">
        <a href="courses.html">
          <img src="assets/img/strat.jpg" alt="Intermediate Course">
          <h3>{{courses[1]}}</h3>
          <p>Now that you know how the basics, it's time to push yourself. Learn soloing techniques, and more difficult skills. Start putting it together.</p>
        </a>
      </div>
      <div class="course-item">
        <a href="courses.html">
          <img src="assets/img/live.jpg" alt="Advanced Course">
          <h3>{{courses[2]}}</h3>
          <p>You know your way around a guitar. Now use these lessons to put yourself over the top. Become a certified guitar hero.</p>
        </a>
      </div>
    </div>
  </div>
</div>
