<div ng-controller="MainController">
  <div class="feature">
    <div class="container">
      <div class="feature-text">
        <h1>
          Learn To Play Guitar Today.
        </h1>
      </div>
      <div class="feature-button" ng-hide="authData">
        <a href="/#register">
          <button>Sign Up Now!</button>
        </a>
      </div>
    </div>
  </div>
  <div class="course-list">
    <div class="container">
      <h2>Choose From These Courses</h2>
      <div class="course-item" ng-repeat="item in data">
        <a href="/#courses">
          <img src="{{item.image}}" alt="{{item.title}} Course">
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
