<div ng-controller="LessonsController">
  <div class="container">
    <div class="lesson">
      <h2>{{lessonData.title}}</h2>
      <p>{{lessonData.description}}</p>
      <div class="lesson-list-item" ng-repeat="(key,value) in lessonData.chords">
        <h3>{{value.name}}</h3>
        <img src="{{value.image}}" alt="">
        <ul>
          <li ng-repeat="item in value.instructions">
            {{item}}
          </li>
        </ul>
        <form ng-show="authData" ng-submit="profile.$save()">
          <input type="checkbox"
          name="{{value.name}}"
          id="{{value.name}}"
          ng-model="profile.completed_lessons[value.name]"
          ng-true-value="'Completed'"
          ng-false-value="'Not Completed'">
          <span>{{profile.completed_lessons[value.name]}}</span>
        </form>
      </div>
    </div>
  </div>
</div>
