<div ng-controller="ProfileController">
  <h2>{{profile.name}}'s Profile</h2>
  <span>Name</span>
  <input type="text" ng-model="profile.name" />
  <span>Bio</span>
  <textarea ng-model="profile.bio"></textarea>
  <p>{{auth.password.email}}</p>
  <form ng-submit="changeEmail()">
    <label for="email">Current Email: </label>
      <input type="email" name="email" ng-model="profile.email" required/>
    <label for="newEmail">New Email: </label>
      <input type="email" name="newEmail" ng-model="newEmail" required/>
    <label for="password">Password: </label>
      <input type="password" name="password" ng-model="profile.password" required/>
    <button type="submit">Change Email</button>
  </form>
  <form ng-submit="changePassword()">
    <label for="email">Email: </label>
      <input type="email" name="email" ng-model="profile.email" required/>
    <label for="password">Current Password: </label>
      <input type="password" name="password" ng-model="profile.password" required/>
    <label for="newPassword">New Password: </label>
      <input type="password" name="newPassword" ng-model="profile.newPassword" required/>
    <button type="submit">Change Password</button>
  </form>
  <form ng-submit="resetPassword()">
    <label for="email">Email: </label>
    <input type="email" name="email" ng-model="profile.email" />
    <button type="submit">Reset Password</button>
  </form>
</div>
