<div class="profile" ng-controller="ProfileController">
  <h2>{{profile.name}}'s Profile</h2>
  <div class="name">
    <h3>Name</h3>
    <input type="text" name="name" ng-model="profile.name"/>
  </div>
  <div class="bio">
    <h3>Biography</h3>
    <textarea ng-model="profile.bio"></textarea>
  </div>
  <form ng-submit="changeEmail()">
    <input type="email" name="email" ng-model="profile.email" required/>
    <input type="email" name="newEmail" placeholder="New Email:" ng-model="newEmail" required/>
    <input type="password" name="password" ng-model="profile.password" required/>
    <button type="submit">Change Email</button>
  </form>
  <form ng-submit="changePassword()">
    <input type="email" name="email" ng-model="profile.email" required/>
    <input type="password" name="password" ng-model="profile.password" required/>
    <input type="password" name="newPassword" ng-model="profile.newPassword" required/>
    <button type="submit">Change Password</button>
  </form>
  <form ng-submit="resetPassword()">
    <input type="email" name="email" ng-model="profile.email" />
    <button type="submit">Reset Password</button>
  </form>
</div>
