<!DOCTYPE html>
<html lang="en" ng-app="GuitarSchoolApp">
<head>
  <meta charset="UTF-8">
  <title>Guitar School Demo</title>
  <link rel="stylesheet" type="text/css" href="assets/fonts/fonts.css">
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/main.min.css"> -->
</head>
<body>
    <header>
      <div class="container">
        <a href="index.html">
          <h1 class="logo">Guitar School</h1>
        </a>
        <nav>
          <ul>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="login.html">Log In</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div ng-controller="MessageTestController">
      <ul>
        <li ng-repeat="message in messages">
          <input ng-model="message.text" ng-change="messages.$save(message)">
          <button ng-click="messages.$remove(message)">Delete Message</button>
        </li>
      </ul>
      <form ng-submit="addMessage()">
        <input ng-model="newMessageText"/>
        <button type="submit">Add Message</button>
      </form>
    </div>

    <form class="registerForm container">
      <input type="text" name="fname" placeholder="First Name" value="" />
      <input type="text" name="lname" placeholder="Last Name" value="" />
      <input type="email" name="email" placeholder="Email" value="" />
      <input type="password" name="password" placeholder="Password" value="" />
      <button type="submit">
        Register
      </button>
    </form>

    <footer>

    </footer>
    <script src="assets/js/vendor/angular/angular.min.js"></script>
    <script src="assets/js/vendor/firebase/firebase.js"></script>
    <script src="assets/js/vendor/angularfire/dist/angularfire.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
