/***** Base *****/

/* Defaults */

//set all media to responsive state
img,
embed,
object,
video {
  max-width: 100%;
}

//default link style
a {
  color: $black;
  text-decoration: none;
  display: block;
  &:hover {
    color: $red;
    text-decoration: underline;
    transition: .5s;
  }
}

.feature {
  h1 {
    text-transform: capitalize;
  }
}
.course-list {
  h2 {
    text-align: center;
    margin: 30px 0;
  }
}

//default course-item style
.course-item {
  padding-bottom: 10px;
  //.course-item hover
  &:hover {
    transform: scale(1.025);
    transition: .75s;
    img {
      opacity: .5;
    }
  }
  h3 {
    text-transform: capitalize;
    text-align: center;
    margin: 15px 0;
  }
  p {
    width: 90%;
    margin: 0 auto;
    line-height: 1.2;
  }
  a{
    display: block;
    //link hover
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

.lesson-list {
  margin-top: 30px;
}
.lesson-list-item {
  margin: 30px 0;
  padding: 2%;
  h2 {
    text-transform: capitalize;
  }
  h3 {
    text-align: center;
  }
  p {
    line-height: 1.2;
    letter-spacing: 1px;
  }
  a{
    display: block;
    //link hover
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  &:hover {
    transform: scale(1.025);
    transition: .75s;
  }
}

//default button style
button {
  background: none;
  border-radius: 5px;
  border: 5px solid $black;
  display: block;
  color: $black;
  &:hover {
    transition: .5s;
    //border: 5px solid $black;
    background: $black;
    color: $yellow;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder{
  color: $red;
  text-transform: uppercase;
}
:-moz-placeholder{
  color: $red;
  text-transform: uppercase;
}
::-moz-placeholder{
  color: $red;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: $red;
  text-transform: uppercase;
}

.loginRegisterForm {
  h2{
    text-align: center;
  }
  margin: 30px auto;
  padding: 50px 0;
  input {
    @include shift(2/10);
    @include span(6/10);
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 3px;
    display: block;
    border: none;
    background: none;
    border-bottom: 2px solid $black;
    margin: 15px 0;
    &:focus{
      outline: none;
    }
  }
  button {
    @include shift(2/10);
    @include span(6/10);
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 3px;
    padding: 13px 0 10px 0;
    &:hover{
      transform: scale(1.05);
    }
  }
  @include span(1);
  clear: both;
}

footer {
  clear: left;
  text-align: center;
}

/* Colors */
body {
  background: $offWhite;
}
.feature {
  background: $teal;
  color: $black;
}
.logo {
  color: $red;
  text-shadow: 2px 1px 1px $black;
}
header {
  background: $offWhite;
  box-shadow: 0 5px 3px -3px $black;
}
.course-item,
.lesson-list-item {
  background: $white;
  box-shadow: 5px 5px 5px -3px $black;
}
footer {
  background: $offWhite;
  color: $black;
}
