/***** Typography *****/
body, button {
  font-family: $halis-light;
}
.logo {
  font-family: $nabila;
  font-size: $ms-3;
}
.feature-text {
  h1 {
    font-size: $feature-size;
  }
}
h1 {
  font-size: $ms-4;
  font-family: $halis-black;
}
h2 {
  font-size: $ms-3;
  font-family: $halis-bold;
}
h3 {
  font-size: $ms-2;
  font-family: $halis-regular;
}
p, button {
  font-size: $ms-1;
}

.feature-button button {
  font-family: $halis-regular;
}
